<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{22,30}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,38},{22,30}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{8,30}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,38},{8,30}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,34},{22,30}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,38},{22,30}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{20,30}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,38},{20,30}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{20,30}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,38},{20,30}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{20,30}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,38},{20,30}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{20,30}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,38},{20,30}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{18,30}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,38},{18,30}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{22,30}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,38},{22,30}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{20,30}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,38},{20,30}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Font.png</string>
            <key>size</key>
            <string>{26,322}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21526ea43bc489104252bad9e7fa2661$</string>
            <key>textureFileName</key>
            <string>Font.png</string>
        </dict>
    </dict>
</plist>
