<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>autorecover.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,1047},{52,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,25},{52,46}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>autorecover_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,1047},{52,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,25},{52,46}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>back.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1114},{52,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,27},{52,42}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>back_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,1114},{52,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,27},{52,42}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>btn_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,494},{105,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,162}}</string>
                <key>sourceSize</key>
                <string>{105,162}</string>
            </dict>
            <key>btn_0_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,330},{105,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,162}}</string>
                <key>sourceSize</key>
                <string>{105,162}</string>
            </dict>
            <key>btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,166},{105,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,162}}</string>
                <key>sourceSize</key>
                <string>{105,162}</string>
            </dict>
            <key>btn_1_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,2},{105,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,162}}</string>
                <key>sourceSize</key>
                <string>{105,162}</string>
            </dict>
            <key>close.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,1112},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{36,36}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>close_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,1074},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{36,36}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>down.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,922},{42,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,22},{42,52}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>down_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1114},{42,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,22},{42,52}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>fire_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,366},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>fire_0_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,184},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>fire_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,806},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>fire_1_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,2},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>hiscore.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,218},{360,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,8},{360,55}}</string>
                <key>sourceSize</key>
                <string>{420,71}</string>
            </dict>
            <key>hiscore_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,218},{360,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,8},{360,55}}</string>
                <key>sourceSize</key>
                <string>{420,71}</string>
            </dict>
            <key>landscape.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,1084},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{52,52}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>landscape_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,988},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{52,52}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>lefthand.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,894},{42,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,22},{42,52}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>lefthand_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,1047},{42,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,22},{42,52}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>level.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,482},{225,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{225,53}}</string>
                <key>sourceSize</key>
                <string>{237,71}</string>
            </dict>
            <key>level_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,482},{225,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{225,53}}</string>
                <key>sourceSize</key>
                <string>{237,71}</string>
            </dict>
            <key>lfeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,963},{60,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,34},{60,28}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>lfeng_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,963},{60,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,34},{60,28}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>like.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,1091},{52,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,23},{52,50}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>like_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,1091},{52,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,23},{52,50}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>moon.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,836},{50,56}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,18},{50,56}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>moon_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,778},{50,56}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,18},{50,56}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>music.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,1030},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{52,52}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>music_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,976},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{52,52}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,932},{90,124}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,3},{90,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>pause_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,806},{90,124}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,3},{90,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>play.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,989},{100,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,5},{100,118}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>play_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,954},{100,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{100,118}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,922},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{52,52}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>portrait_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,1101},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{52,52}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>reset.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,658},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{118,118}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>reset_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,709},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{118,118}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>righthand.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,993},{42,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,22},{42,52}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>righthand_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,1114},{42,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,22},{42,52}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>rotate.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,1074},{62,54}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,21},{62,54}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>rotate_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1058},{62,54}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,21},{62,54}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>save.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,1095},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{52,52}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>save_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,1095},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{52,52}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>score.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,218},{262,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{262,55}}</string>
                <key>sourceSize</key>
                <string>{276,71}</string>
            </dict>
            <key>score_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,218},{262,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{262,55}}</string>
                <key>sourceSize</key>
                <string>{276,71}</string>
            </dict>
            <key>setup.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,988},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{124,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>setup_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,837},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{124,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>sliderbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,677},{220,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,7}}</string>
                <key>sourceSize</key>
                <string>{220,7}</string>
            </dict>
            <key>sliderbg_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,677},{220,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,7}}</string>
                <key>sourceSize</key>
                <string>{220,7}</string>
            </dict>
            <key>sliderprogress.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,677},{220,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,7}}</string>
                <key>sourceSize</key>
                <string>{220,7}</string>
            </dict>
            <key>sliderthumb.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,548},{20,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,45}}</string>
                <key>sourceSize</key>
                <string>{20,45}</string>
            </dict>
            <key>sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,1042},{52,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,24},{52,48}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>sound_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,938},{52,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,24},{52,48}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>sound_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,829},{158,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,127}}</string>
                <key>sourceSize</key>
                <string>{158,127}</string>
            </dict>
            <key>sound_off_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,677},{158,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,127}}</string>
                <key>sourceSize</key>
                <string>{158,127}</string>
            </dict>
            <key>sound_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,548},{158,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,127}}</string>
                <key>sourceSize</key>
                <string>{158,127}</string>
            </dict>
            <key>sound_on_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1022},{158,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,127}}</string>
                <key>sourceSize</key>
                <string>{158,127}</string>
            </dict>
            <key>speed.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,580},{242,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{242,55}}</string>
                <key>sourceSize</key>
                <string>{258,71}</string>
            </dict>
            <key>speed_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,580},{242,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{242,55}}</string>
                <key>sourceSize</key>
                <string>{258,71}</string>
            </dict>
            <key>star.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1022},{128,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{128,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>star_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,824},{128,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{128,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>sun.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,993},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{52,52}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>sun_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,993},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{52,52}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>tea.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{222,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{222,214}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>tea_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{222,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{222,214}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>vibrate.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,1092},{52,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,29},{52,38}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>vibrate_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,1058},{52,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,29},{52,38}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>vibrate_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,850},{70,70}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{70,70}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>vibrate_off_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,778},{70,70}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{70,70}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>volumebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{500,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,400}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>volumebg_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{500,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,400}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Images.png</string>
            <key>size</key>
            <string>{1021,1159}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:70142e00886d2b866411e46f22aaf239$</string>
            <key>textureFileName</key>
            <string>Images.png</string>
        </dict>
    </dict>
</plist>
