<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,721},{61,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,94}}</string>
                <key>sourceSize</key>
                <string>{61,94}</string>
            </dict>
            <key>btn_0_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,169},{61,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,94}}</string>
                <key>sourceSize</key>
                <string>{61,94}</string>
            </dict>
            <key>fire_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,939},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>fire_0_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,455},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>fire_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,599},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>fire_1_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,817},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hiscore.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{360,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,8},{360,55}}</string>
                <key>sourceSize</key>
                <string>{420,71}</string>
            </dict>
            <key>hiscore_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{360,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,8},{360,55}}</string>
                <key>sourceSize</key>
                <string>{420,71}</string>
            </dict>
            <key>level.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,114},{225,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{225,53}}</string>
                <key>sourceSize</key>
                <string>{237,71}</string>
            </dict>
            <key>level_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,59},{225,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{225,53}}</string>
                <key>sourceSize</key>
                <string>{237,71}</string>
            </dict>
            <key>pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,725},{90,124}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,3},{90,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>pause_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,599},{90,124}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,3},{90,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>play.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,162},{100,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{100,118}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>play_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,329},{100,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{100,118}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>reset.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,904},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{118,118}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>reset_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,784},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{118,118}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>score.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,999},{262,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{262,55}}</string>
                <key>sourceSize</key>
                <string>{276,71}</string>
            </dict>
            <key>score_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,942},{262,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{262,55}}</string>
                <key>sourceSize</key>
                <string>{276,71}</string>
            </dict>
            <key>setup.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,599},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{124,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>setup_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,329},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{124,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>sound_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{158,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,127}}</string>
                <key>sourceSize</key>
                <string>{158,127}</string>
            </dict>
            <key>sound_off_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,169},{158,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,127}}</string>
                <key>sourceSize</key>
                <string>{158,127}</string>
            </dict>
            <key>sound_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,470},{158,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,127}}</string>
                <key>sourceSize</key>
                <string>{158,127}</string>
            </dict>
            <key>sound_on_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,470},{158,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,127}}</string>
                <key>sourceSize</key>
                <string>{158,127}</string>
            </dict>
            <key>speed.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{242,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{242,55}}</string>
                <key>sourceSize</key>
                <string>{258,71}</string>
            </dict>
            <key>speed_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,2},{242,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{242,55}}</string>
                <key>sourceSize</key>
                <string>{258,71}</string>
            </dict>
            <key>tea.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,246},{222,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{222,214}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>tea_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{222,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{222,214}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Images.png</string>
            <key>size</key>
            <string>{508,1068}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8910698d650718150c97495d05f9100a$</string>
            <key>textureFileName</key>
            <string>Images.png</string>
        </dict>
    </dict>
</plist>
