<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1069},{61,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,94}}</string>
                <key>sourceSize</key>
                <string>{61,94}</string>
            </dict>
            <key>btn_0_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1006},{61,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,94}}</string>
                <key>sourceSize</key>
                <string>{61,94}</string>
            </dict>
            <key>btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,179},{61,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,94}}</string>
                <key>sourceSize</key>
                <string>{61,94}</string>
            </dict>
            <key>btn_1_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,116},{61,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,94}}</string>
                <key>sourceSize</key>
                <string>{61,94}</string>
            </dict>
            <key>fire_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,930},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>fire_0_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,992},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>fire_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,372},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>fire_1_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,122},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hiscore.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{360,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,8},{360,55}}</string>
                <key>sourceSize</key>
                <string>{420,71}</string>
            </dict>
            <key>hiscore_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{360,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,8},{360,55}}</string>
                <key>sourceSize</key>
                <string>{420,71}</string>
            </dict>
            <key>level.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,399},{225,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{225,53}}</string>
                <key>sourceSize</key>
                <string>{237,71}</string>
            </dict>
            <key>level_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{225,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{225,53}}</string>
                <key>sourceSize</key>
                <string>{237,71}</string>
            </dict>
            <key>pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,838},{90,124}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,3},{90,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>pause_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,746},{90,124}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,3},{90,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>play.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,886},{100,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,5},{100,118}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>play_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,886},{100,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{100,118}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>reset.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,992},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{118,118}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>reset_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{118,118}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>score.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{262,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{262,55}}</string>
                <key>sourceSize</key>
                <string>{276,71}</string>
            </dict>
            <key>score_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{262,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{262,55}}</string>
                <key>sourceSize</key>
                <string>{276,71}</string>
            </dict>
            <key>setup.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,620},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{124,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>setup_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,494},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{124,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>sound_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,832},{158,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,127}}</string>
                <key>sourceSize</key>
                <string>{158,127}</string>
            </dict>
            <key>sound_off_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,672},{158,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,127}}</string>
                <key>sourceSize</key>
                <string>{158,127}</string>
            </dict>
            <key>sound_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,512},{158,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,127}}</string>
                <key>sourceSize</key>
                <string>{158,127}</string>
            </dict>
            <key>sound_on_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,352},{158,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,127}}</string>
                <key>sourceSize</key>
                <string>{158,127}</string>
            </dict>
            <key>speed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,287},{242,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{242,55}}</string>
                <key>sourceSize</key>
                <string>{258,71}</string>
            </dict>
            <key>speed_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{242,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{242,55}}</string>
                <key>sourceSize</key>
                <string>{258,71}</string>
            </dict>
            <key>star.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,244},{128,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{128,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>star_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,242},{128,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{128,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>tea.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,670},{222,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{222,214}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>tea_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{222,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{222,214}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Images.png</string>
            <key>size</key>
            <string>{485,1138}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:01d1329b803bd786cace66aefb00cff1$</string>
            <key>textureFileName</key>
            <string>Images.png</string>
        </dict>
    </dict>
</plist>
