<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{390,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{390,46}}</string>
                <key>sourceSize</key>
                <string>{392,48}</string>
            </dict>
            <key>saveclose.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{390,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{390,46}}</string>
                <key>sourceSize</key>
                <string>{392,48}</string>
            </dict>
            <key>saveopen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{390,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{390,46}}</string>
                <key>sourceSize</key>
                <string>{392,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Tips.png</string>
            <key>size</key>
            <string>{1178,50}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c220137e45488acb83f7670a0812e3b1$</string>
            <key>textureFileName</key>
            <string>Tips.png</string>
        </dict>
    </dict>
</plist>
